page-riskpointdetail {
  .cusLogo {
    // border: 0.55px solid #ffcd00;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
  }

  .masters {
    // background-color: #6A6A6A;
    background-image: url('../assets/imgs/rrtibg.png');
    // opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .blog {
    &.item-block {
      background-color: transparent;
      border-bottom: 0.55px solid #c8c7cc;

      .item-inner {
        border: none;
      }
    }

    h2 {
      font-size: 16px;
    }
  }

  .people-group {
    section {
      // background-color: #fff;
      // opacity: 0.1;
      border: 0.55px solid #ffcd00;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      box-shadow: 0 0 3px rgba(0,0,0,0.15);

      ion-avatar {
        // background-image: url('../assets/img/template/bglogo.png');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        // background-color: #ffcd00;
      }

      ion-item {
        // background-color: #fff;
        color: #000;

        p {
          text-align: center;
          // color: #000000;
          padding-top: 10px;
        }
      }

      ion-label {
        margin-bottom: 0;
      }

      ion-input {
        background-color: transparent;
        // background-color: #ffffff;
        // opacity: 0.4;
        // border: 0.55px solid #ffcd00;
        color: #ffcd00;
        padding-left: 10px;

        ::-moz-placeholder {
          color: #ffcd00;
        }

        ::-ms-input-placeholder {
          color: #ffcd00;
        }

        ::-webkit-input-placeholder {
          color: #ffcd00;
        }
      }

      button {
        box-shadow: none;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}
